{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Builder{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'builder/styles.css' %}">
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>